@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Delivery Wizard</h1>
    <p class="lead">Система доставки продуктов</p>    
</div>

<div class="row">
    <p>Чтобы загрузить заказ войти в свой профиль и нажать загрузить заказ</p>
</div>